.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: unset;
  }
  .navigation__list {
    display: flex;
    gap: 2rem;
  }
  .navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font: var(--textmenu);
    color: var(--primary);
    font-weight: 100;
  }
  .navigation__list li:first-of-type .navigation__link {
    display: none;
  }
  .navigation__list li:last-of-type .navigation__link {
    display: none;
  }
}
